{% extends 'base.html' %}
{% block content %}
<h1>This is About page.</h1>
    The user {{request.user}} is authenticated? 
    {{request.user.is_authenticated}}
    <p>This is a template.</p>

<pre>
    {{my_text|title}}, 
    {{my_num}},
    {{my_list}},
    {{my_html}},
    {{my_html|safe}}
</pre>

<ol>
{% for my_item in my_list %}
    {% if my_item == 223531 %}
    <li>{{ forloop.counter }}: {{my_item|add:33}}</li>
    {% endif %}
    <li>{{ forloop.counter }}: {{my_item}}</li>
{% endfor %}
</ol>
{% endblock %}