<!doctype html>
{% load static %}
<html>
    <head>
        <title>Learn Django</title>
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <!-- <link href="/static/admin/css/base.css" rel="stylesheet" type="text/css">
        <link href="/static/admin/css/dashboard.css" rel="stylesheet" type="text/css">
        <link href="/static/admin/css/responsive.css" rel="stylesheet" type="text/css">
        <link href="/static/admin/css/nav_sidebar.css" rel="stylesheet" type="text/css">
        <link href="/static/admin/js/nav_sidebar.js" type="text/css"> -->
    </head>
    <body>
        {% include 'navbar.html' %}
        {% block content %}
        Please put your code here in your html template.
        {% endblock %}
    </body>
</html>