{% extends 'base.html' %}
{% block content %}
{% load static %}
<div>
<center>
<img src="{% static 'images/mvc.jpg' %}">
</center>
</div>
<br/>
{{object_list}}
<table>
{% for prod in object_list %}
    {% cycle 'row1' 'row2' as rowcolors silent %}
    <tr class="{{ rowcolors }}">
        <td>{{prod.id}}</td>
        <td><a href='{{ prod.get_absolute_url }}'>{{prod.title}}</a></td>
        <td><a href='{{ prod.get_update_url }}'>Update</a></td>
        <td><a href='{{ prod.get_delete_url }}'>Delete</a></td>
    </tr>
{% endfor %}
</table>

{% endblock %}